:root {
  --background-color: #fff3f1;
  --white-color: #fff;
  --blue-color: #36f;
  --white-blue-color: #bdd9f6;
  --font-color: #6f6f6f;
  --font-black-color: #000000;
  --font-gray-color: #b2b2b2;
  --font-blue-color: #36f;
  --font-white-color: #fff;
  --font-weight-700: 700;
  --font-weight-600: 600;
  --border-gray-color: #e1e2e4;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  overflow: hidden;
}

header {
  height: 70px;
  background-color: var(--white-color);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-700);
  font-size: large;
  border-bottom: 1px solid var(--border-gray-color);
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
}

section {
  margin-top: 70px;
  min-width: 30vw;
  max-height: 60vh;
  background-color: var(--white-color);
  border-radius: 8px;
  border: 1px solid var(--border-gray-color);
}

@media (max-width: 800px) {
  section {
    width: 70%;
  }
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.item-header img {
  width: 170px;
  height: 170px;
}

.item-title {
  max-width: 30vw;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-weight: bold;
  color: var(--font-black-color);
  white-space: pre-wrap;
  line-height: 30px;
}

.item-description {
  color: var(--font-gray-color);
  font-size: medium;
  padding: 10px;
  word-wrap: break-word;
  width: 70%;
  display: flex;
  justify-content: center;
  margin: auto;
  line-height: 25px;
}

.item-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.item-footer {
  padding: 20px;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-blue {
  background-color: var(--blue-color);
  border-radius: 25px;
  border: none;
  padding: 0 27px;
  min-width: 64px;
  height: 50px;
  cursor: pointer;
  color: var(--white-color);
  font-weight: var(--font-weight-600);
  font-size: 16px;
}

.btn-answer {
  background-color: rgba(0, 149, 255, 0.08);
  opacity: 0.7;
  border-radius: 12px;
  border: 1px solid var(--border-gray-color);
  padding: 0 27px;
  min-width: 85%;
  height: 100px;
  cursor: pointer;
  color: var(--font-blue-color);
  font-size: 18px;
  font-weight: var(--font-weight-600);
}

.btn-answer:hover {
  background-color: rgba(111, 164, 226, 0.58);
  opacity: 0.7;
  /* color: var(--font-white-color); */
}
